.gl-text-gray-900
  = render 'middle_dot_divider', stacking: true do
    @#{@user.username}
  - if can?(current_user, :read_user_profile, @user)
    = render 'middle_dot_divider', stacking: true do
      = s_('UserProfile|User ID: %{id}') % { id: @user.id }
      = clipboard_button(title: s_('UserProfile|Copy user ID'), text: @user.id)
    = render 'middle_dot_divider', stacking: true do
      = s_('Member since %{date}') % { date: l(@user.created_at, format: :long) }
